<div class="card my-4 mx-auto" style="width: 80%; font-size: 14px">
  <div class="card-header d-flex justify-content-between">
    <span><strong>Total Quantity:</strong> {{ order.totalQty }}</span>
    <span *ngIf="coupon">
      <strong>Coupon Applied:</strong>
      {{ coupon.name }} ({{ coupon.discountPercent }}% off)
    </span>
    <span
      ><strong>Total Amount:</strong>
      {{ order.totalAmount | rupeeFormat }}</span
    >
  </div>
  <div class="card-body">
    <div class="row mt-3" *ngFor="let product of order.products">
      <div class="col-md-2 d-flex align-items-center">
        <div class="col-md-5">
          <img
            [src]="
              product.productId.images.length > 0
                ? product.productId.images[0].url
                : 'assets/laptop.jpg'
            "
            class="d-block ui-w-40 ui-bordered mx-2"
            alt=""
            height="100px"
            width="100px"
            [routerLink]="['/products', product.productId._id]"
          />
        </div>
      </div>
      <div class="col-md-10 my-3">
        <a
          class="d-block text-dark"
          [routerLink]="['/products', product.productId._id]"
          >{{ product.productId.title }}</a
        >
        <p class="my-1">
          <strong>{{ product.productId.price | rupeeFormat }}</strong>
        </p>
        <div class="row">
          <div class="col-md-2">
            <label for="quantity"
              ><strong>Quantity:</strong> {{ product.qty }}</label
            >
          </div>
          <div class="col-md-3">
            <label for="amount"
              ><strong>Amount:</strong>
              {{ product.productId.price * product.qty | rupeeFormat }}</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
