<div class="card h-100 cart-content">
  <div class="mx-auto" style="height: 65%">
    <img
      class="card-img-top link img-set"
      [src]="product.images?.[0]?.url || 'assets/laptop.jpg'"
      alt="Product Image"
      [routerLink]="['/products', product._id]"
      style="max-height: 100%; width: 100%; height: auto;"
    />
  </div>
  <div class="card-body d-flex flex-column justify-content-between">
    <h6
      class="card-title link text-truncate"
      [routerLink]="['/products', product._id]"
    >
      {{ product.title }}
    </h6>
    <div class="d-flex justify-content-between">
      <h6 class="text-muted">{{ product.price | rupeeFormat }}</h6>
      <div>
        <span class="me-2">{{
          product.avgRating | number : "1.1-1" || 0
        }}</span>
        <app-rating [rating]="product.avgRating || 0"></app-rating>
      </div>
    </div>
    <div class="text-end">
      <h6 *ngIf="product.stock < 1; else NotOutOfStock" style="color: red">
        Out of stock
      </h6>
      <ng-template #NotOutOfStock>
        <span
          style="color: red"
          *ngIf="!isSellerByRole && !isAdmin && product.stock < 6"
        >
          Hurry, only {{ product.stock }}
          {{ product.stock === 1 ? "item" : "items" }} left !
        </span>
        <h6 class="text-muted" *ngIf="isSellerByRole || isAdmin">
          {{ product.stock }} in stock
        </h6>
      </ng-template>
    </div>
    <div *ngIf="product.stock > 0">
      <button
        *ngIf="!isSellerByRole && !isCurrentSeller && !isAdmin"
        class="btn btn-class btn-sm"
        (click)="
          toggleCart(product._id || '', !addedProducts[product._id || ''])
        "
      >
        {{
          !addedProducts[product._id || ""] ? "Add to cart" : "Remove from cart"
        }}
      </button>
      <button
        class="btn btn-class mx-3 btn-sm"
        *ngIf="!isSellerByRole && !isCurrentSeller && !isAdmin && product"
        type="button"
        (click)="buyNow()"
      >
        Buy Now
      </button>
    </div>
    <div *ngIf="isSellerByRole && isCurrentSeller">
      <button
        class="btn btn-class btn-sm"
        [routerLink]="['/seller/products/edit', product._id]"
      >
        Edit
      </button>

      <button class="btn btn-class mx-3 btn-sm" (click)="deleteProduct()">
        Delete
      </button>
    </div>
  </div>
</div>
