.link {
  cursor: pointer;
}

.link:hover {
  color: #c45500;
}
.custom-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  /* Add any other styling you want here */
}
.bi-pencil-square:hover {
  fill: green;
}

.bi-trash:hover {
  fill: red;
}
