<div class="card h-100 cart-content">
  <img
    class="card-img-top link"
    [src]="product.images?.[0]?.url || 'https://picsum.photos/200'"
    alt="Product Image"
    height="200"
    width="200"
    [routerLink]="['/products', product._id]"
  />
  <div>
  </div>
  <div class="card-body">
    <h6
      class="card-title link text-truncate"
      [routerLink]="['/products', product._id]"
    >
      {{ product.title }}
    </h6>
    <div class="mt-2 d-flex justify-content-between">
      <h6 class="text-muted">{{ product.price | rupeeFormat }}</h6>
      <h6 class="text-muted" *ngIf="product.stock > 0; else outOfStock">
        {{ product.stock }} in stock
      </h6>
      <ng-template #outOfStock>
        <h6 style="color: red">Out of stock</h6>
      </ng-template>
    </div>

    <div class="mt-3" *ngIf="product.stock > 0">
      <button
        *ngIf="!isSellerByRole && !isCurrentSeller && !isAdmin"
        class="btn btn-class btn-sm"
        (click)="
          toggleCart(product._id || '', !addedProducts[product._id || ''])
        "
      >
        {{
          !addedProducts[product._id || ""] ? "Add to cart" : "Remove from cart"
        }}
      </button>
      <button
        class="btn btn-class mx-3 btn-sm"
        *ngIf="!isSellerByRole && !isCurrentSeller && !isAdmin && product"
        type="button"
        (click)="buyNow()"
      >
        Buy Now
      </button>
    </div>
    <div *ngIf="isSellerByRole && isCurrentSeller" class="mt-3">
      <button
        class="btn btn-class btn-sm"
        [routerLink]="['/seller/products/edit', product._id]"
      >
        Edit
      </button>

      <button class="btn btn-class mx-3 btn-sm" (click)="deleteProduct()">
        Delete
      </button>
    </div>
  </div>
</div>
