<div class="card h-100 cart-content">
  <div class="mx-auto" style="height: 65%">
    <img
      class="card-img-top link img-set"
      [src]="product.images?.[0]?.url || 'assets/laptop.jpg'"
      alt="Product Image"
      [routerLink]="['/products', product.productId]"
    />
  </div>
  <div class="card-body d-flex flex-column justify-content-between">
    <h6
      class="card-title link text-truncate"
      [routerLink]="['/products', product.productId]"
    >
      {{ product.title }}
    </h6>
    <div class="d-flex justify-content-between">
      <h6 class="text-muted">{{ product.price | rupeeFormat }}</h6>
      <div>
        <span class="me-2">{{ 0 }}</span>
        <app-rating [rating]="0"></app-rating>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <h6 class="text-muted">{{ product.totalQty }} sold</h6>
      <h6 class="text-muted">{{ product.stock }} in stock</h6>
    </div>
    <div class="d-flex justify-content-between">
      <h6 class="text-muted">{{ product.orderIds.length }} orders</h6>
      <h6 class="text-muted">
        accounting to {{ product.totalAmount | rupeeFormat }}
      </h6>
    </div>
  </div>
</div>
