textarea {
  resize: none;
}
.btn-class {
  border-color: #112d4e;
  color: #112d4e;
}
.btn-class:hover {
  background-color: #112d4e;
  color: #fff;
}
.content {
  margin: 8%;
  background-color: #fff;
  padding: 4rem 1rem 4rem 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}
