<div class="container my-4">
  <div class="card">
    <div class="row no-gutters m-5">
      <div class="col-md-6">
        <app-carousel [slides]="slides"></app-carousel>
      </div>
      <div class="col-md-6 mt-5">
        <h3>{{ product?.title }}</h3>
        <p>{{ product?.description }}</p>
        <h4>
          <span>{{ product?.price || 0 | rupeeFormat }}</span>
        </h4>
        <p *ngIf="product?.stock !== 0; else outOfStock">
          <strong>Items in Stock:</strong> {{ product?.stock }}
        </p>
        <ng-template #outOfStock>
          <h6 style="color: red">This product is currently out of stock</h6>
        </ng-template>
        <div class="action">
          <button
            class="btn btn-class mt-1"
            *ngIf="
              !isSellerByRole &&
              !currentSeller &&
              !isAdmin &&
              product &&
              product.stock > 0
            "
            type="button"
            (click)="
              toggleCart(product._id || '', !addedProducts[product._id || ''])
            "
          >
            {{
              !addedProducts[product._id || ""]
                ? "Add to cart"
                : "Remove from cart"
            }}
          </button>
          <button
            class="btn btn-class mt-1 mx-3"
            *ngIf="
              !isSellerByRole &&
              !currentSeller &&
              !isAdmin &&
              product &&
              product.stock > 0
            "
            type="button"
            (click)="buyNow()"
          >
            Buy Now
          </button>
          <button
            class="btn btn-class mt-1 mx-2"
            (click)="editProduct()"
            *ngIf="isSellerByRole && currentSeller"
            type="button"
          >
            Edit
          </button>
          <button
            class="btn btn-class mt-1 mx-2"
            (click)="deleteProduct()"
            *ngIf="isSellerByRole && currentSeller"
            type="button"
          >
            Delete
          </button>
        </div>
        <br />
        <table *ngIf="checkObj(product?.specifications)" class="table my-2">
          <tbody>
            <thead>
              <tr>
                <th style="font-size: larger">Specifications</th>
              </tr>
            </thead>
            <tr *ngFor="let spec of objectKeys(product?.specifications)">
              <th scope="row">{{ spec.key }}</th>
              <td>{{ spec.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
