<section class="hero">
  <div class="container">
    <h1 class="text-black">Welcome to GadgetGrove E-Commerce Store</h1>
    <p class="text-black">
      Your ultimate destination for cutting-edge technology and unbeatable deals
      on high-performance laptops! At our store, we understand the pivotal role
      laptops play in your daily life - from work to entertainment and
      everything in between. That's why we're dedicated to providing you with a
      diverse selection of laptops that cater to all your needs.
    </p>
    <p class="text-black">
      Discover a world of possibilities as you explore our extensive range of
      laptops, carefully curated to offer you the latest innovations and
      top-notch quality. Whether you're a professional in need of a powerhouse
      for productivity, a gamer seeking ultimate graphics and speed, or a
      student looking for a reliable companion for your studies, we have the
      perfect laptop waiting just for you.
    </p>
    <p class="text-black">
      Why shop with us? We take pride in offering not only a wide array of
      products but also exceptional customer service. Our knowledgeable staff is
      here to assist you in finding the ideal laptop that matches your
      requirements and budget. Plus, we frequently update our inventory to
      feature the newest releases from renowned brands, ensuring you have access
      to the latest technology trends.
    </p>

    <a class="btn text-white" routerLink="/products">Shop Now</a>
  </div>
</section>

<section class="featured-products">
  <div class="container">
    <h2 class="text-center">New arrivals</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
      <app-card
        *ngFor="let product of products?.docs"
        [product]="product"
      ></app-card>
    </div>
  </div>
</section>
