<div class="d-flex justify-content-between align-items-center mb-3">
  <h4 class="text-right">Change Password</h4>
</div>
<form #changePasswordForm="ngForm" (ngSubmit)="changePassword()">
  <div class="row mt-2">
    <div class="col-md-12">
      <label class="labels">Old Password</label
      ><input
        type="password"
        class="form-control"
        name="oldPassword"
        #oldPassword="ngModel"
        required
        ngModel
      />
      <span
        class="help-block"
        style="color: red"
        *ngIf="!oldPassword.valid && oldPassword.touched"
        >Please enter a password with minimum 3 characters long !</span
      >
    </div>
    <div class="col-md-12">
      <label class="labels">New Password</label
      ><input
        type="password"
        class="form-control"
        name="newPassword"
        required
        #newPassword="ngModel"
        ngModel
      /><span
        class="help-block"
        style="color: red"
        *ngIf="!newPassword.valid && newPassword.touched"
        >Please enter a password with minimum 3 characters long !</span
      >
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <label class="labels">Confirm New Password</label
      ><input
        type="password"
        class="form-control"
        ngModel
        required
        name="confirmPassword"
        #confirmPassword="ngModel"
      />
      <div
        class="help-block"
        style="color: red"
        *ngIf="!confirmPassword.valid && confirmPassword.touched"
      >
        Please enter a password with minimum 3 characters long !
      </div>
      <div
        class="help-block"
        style="color: red"
        *ngIf="
          confirmPassword.touched && confirmPassword.value !== newPassword.value
        "
      >
        Passwords do not match!
      </div>
    </div>
    <div class="mt-3 text-center">
      <button class="btn btn-class mt-3 mx-1" type="submit">Change</button>
      <button
        class="btn btn-class mt-3 mx-1"
        type="button"
        (click)="cancelForm()"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
