<div class="container my-5">
  <div class="row my-3 content">
    <h2 style="text-align: center">{{ !editMode ? "Add" : "Edit" }} Coupon</h2>
    <div class="col-md-12">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div style="margin-left: 25%">
          <div class="form-group mt-3" *ngIf="editMode">
            <label class="control-label" for="couponCode">Coupon Code</label>
            <div class="col-md-8">
              <input
                name="couponCode"
                placeholder="Coupon Code"
                class="form-control"
                type="text"
                disabled
                [(ngModel)]="coupon.couponCode"
              />
            </div>
          </div>

          <div class="form-group mt-3">
            <label class="control-label" for="name">Coupon Name</label>
            <div class="col-md-8">
              <input
                type="text"
                placeholder="Coupon Name"
                name="name"
                #name="ngModel"
                required
                class="form-control"
                [(ngModel)]="coupon.name"
              />
              <span
                class="help-block"
                style="color: red"
                *ngIf="!name.valid && name.touched"
                >Please enter a valid and unique coupon name !</span
              >
            </div>
          </div>

          <div class="form-group mt-3">
            <label class="control-label" for="name">Coupon Type</label>
            <div class="col-md-8">
              <select class="form-select" name="type" [(ngModel)]="coupon.type">
                <option *ngFor="let type of CouponType" [value]="type.value">
                  {{ type.label }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group mt-3">
            <label class="control-label" for="discountPercent"
              >Discount (%)</label
            >
            <div class="col-md-8">
              <input
                type="number"
                placeholder="Coupon Discount"
                name="discountPercent"
                #discount="ngModel"
                min="1"
                max="99"
                required
                class="form-control"
                [(ngModel)]="coupon.discountPercent"
              />
              <span
                class="help-block"
                style="color: red"
                *ngIf="!discount.valid && discount.touched"
                >Please enter a valid coupon discount! Range 1-99%</span
              >
            </div>
          </div>

          <div class="form-group mt-3" *ngIf="!editMode">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="isNowActive"
                [(ngModel)]="isNowActive"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Activate Coupon Now ?
              </label>
            </div>
          </div>

          <div class="form-group mt-3" *ngIf="!isNowActive">
            <label class="control-label" for="activationDate"
              >Activation Date</label
            >
            <div class="col-md-8">
              <input
                type="datetime-local"
                placeholder="Activation Date"
                name="activationDate"
                #activationDate="ngModel"
                min="{{ today | date : 'yyyy-MM-ddTHH:mm' }}"
                class="form-control"
                [ngModel]="coupon.activationDate | date : 'yyyy-MM-ddTHH:mm'"
                (ngModelChange)="coupon.activationDate = $event"
              />
              <span
                class="help-block"
                style="color: red"
                *ngIf="!activationDate.valid && activationDate.touched"
                >Please enter a valid activation date!</span
              >
            </div>
          </div>

          <div class="form-group mt-3">
            <label class="control-label" for="expiryDate">Expiry Date</label>
            <div class="col-md-8">
              <input
                type="datetime-local"
                placeholder="Expiry Date"
                name="expiryDate"
                #expiryDate="ngModel"
                min="{{ tomorrow | date : 'yyyy-MM-ddTHH:mm' }}"
                required
                class="form-control"
                [ngModel]="coupon.expiryDate | date : 'yyyy-MM-ddTHH:mm'"
                (ngModelChange)="coupon.expiryDate = $event"
              />
              <span
                class="help-block"
                style="color: red"
                *ngIf="!expiryDate.valid && expiryDate.touched"
                >Please enter a valid expiry date! (Should be greater than Activation Date)</span
              >
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button
            class="btn btn-class mt-3 text-center"
            type="submit"
            [disabled]="!f.valid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
