.card {
  width: 220px;
  padding: 10px;
  border-radius: 20px;
  background: #dbe2ef;
  border: none;
  position: relative;
}

.card h3 {
  margin-bottom: 0px;
}

span {
  font-size: small;
}

.image {
  position: absolute;
  opacity: 0.1;
  left: 0;
  top: 0;
}

.image2 {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.1;
}

.grey-out {
  opacity: 0.5;
}
