<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">All Coupons</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="d-flex justify-content-end me-5 mt-2">
    <div>
      <select class="form-select" (change)="filterChanged($event)">
        <option *ngFor="let type of filters" [value]="type.value">
          {{ type.label }}
        </option>
      </select>
    </div>
  </div>
  <div class="modal-body d-flex justify-content-start flex-wrap">
    <app-coupon
      *ngFor="let coupon of allCoupons.docs"
      [coupon]="coupon"
      (applyDiscount)="applyDiscount($event)"
    ></app-coupon>
  </div>
  <app-pagination
    [totalItems]="allCoupons.totalDocs || 0"
    [page]="allCoupons.page || 1"
    [limit]="allCoupons.limit || 5"
    (pageChange)="pageChanged($event)"
  ></app-pagination>
</ng-template>

<div class="container">
  <!-- place order -->
  <h3 class="text-center mt-5">Place Your Order</h3>

  <app-address (showPreviewOrder)="showPreviewOrder($event)"></app-address>
  <div *ngIf="toggleOrderPreview">
    <h4 class="d-flex justify-content-center align-items-center">
      Order Preview
    </h4>
    <div class="d-flex justify-content-center align-items-center"></div>
    <!-- preview order -->
    <app-preview-order [order]="order" [coupon]="coupon"></app-preview-order>
    <div class="text-center">
      <button
        class="btn btn-class mx-3"
        (click)="open(content)"
        *ngIf="!coupon"
      >
        Apply Coupons
      </button>
      <button
        class="btn btn-class mx-3"
        (click)="removeCoupon()"
        *ngIf="coupon"
      >
        Remove Coupon
      </button>
      <button class="btn btn-class" (click)="placeOrder()">Place Order</button>
    </div>
  </div>
</div>
