<div class="container">
  <!-- place order -->
  <app-address (showPreviewOrder)="showPreviewOrder($event)"></app-address>
  <div *ngIf="toggleOrderPreview">
    <h4 class="d-flex justify-content-center align-items-center">
      Order Preview
    </h4>
    <div class="d-flex justify-content-center align-items-center"></div>
    <!-- preview order -->
    <app-preview-order
      [finalOrderPreview]="false"
      [order]="order"
    ></app-preview-order>
    <div class="text-center">
      <button class="btn btn-class" (click)="placeOrder()">Place Order</button>
    </div>
  </div>
</div>
