@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  width: 100%;
  background-color: #f9f7f7;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn-class {
  border-color: #112d4e;
  color: #112d4e;
}
.btn-class:hover {
  background-color: #112d4e;
  color: #fff;
}
