<div class="container my-4">
  <div class="card">
    <div class="row no-gutters m-5">
      <div class="col-md-6">
        <app-carousel [slides]="slides"></app-carousel>
      </div>
      <div class="col-md-6 mt-5">
        <h3>{{ product?.title }}</h3>
        <!-- <div class="rating">
          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <span class="review-no">41 reviews</span>
        </div> -->
        <p>{{ product?.description }}</p>
        <h4>
          <strong>current price: </strong><span>{{ product?.price }}</span>
        </h4>
        <div class="action">
          <button class="btn btn-class mt-1" type="button">add to cart</button>
        </div>
        <br />
        <hr class="hr hr-blurry" width="90%" />
        <table *ngIf="product?.specifications" class="table my-2">
          <tbody>
            <thead>
              <tr>
                <th style="font-size:larger;">Specifications</th>
              </tr>
            </thead>
            <tr *ngFor="let spec of objectKeys(product?.specifications)">
              <th scope="row">{{ spec.key }}</th>
              <td>{{ spec.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
