<div class="container my-4">
  <div class="card">
    <div class="row no-gutters m-5">
      <div class="col-md-6">
        <app-carousel [slides]="slides"></app-carousel>
      </div>
      <div class="col-md-6 mt-5">
        <h3>{{ product?.title }}</h3>
        <p>{{ product?.description }}</p>
        <h4>
          <strong>current price: </strong><span>{{ product?.price }}</span>
        </h4>
        <p><strong>Items in Stock:</strong> {{product?.stock}}</p>
        <div class="action">
          <button class="btn btn-class mt-1" *ngIf="!isSellerByRole && !currentSeller" type="button">add to cart</button>
          <button class="btn btn-class mt-1 mx-2" (click)="editProduct()" *ngIf="isSellerByRole && currentSeller" type="button">Edit Product</button>
          <button class="btn btn-class mt-1 mx-2" (click)="deleteProduct()" *ngIf="isSellerByRole && currentSeller" type="button">Delete Product</button>

        </div>
        <br />
        <hr class="hr hr-blurry" width="90%" />
        <!-- <button (click) = "clearStore()">Clear Store</button> -->
        <table *ngIf="product?.specifications" class="table my-2">
          <tbody>
            <thead>
              <tr>
                <th style="font-size:larger;">Specifications</th>
              </tr>
            </thead>
            <tr *ngFor="let spec of objectKeys(product?.specifications)">
              <th scope="row">{{ spec.key }}</th>
              <td>{{ spec.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
