<div
  *ngIf="cart.products.length > 0"
  class="card cart-content mx-auto"
  style="width: 80%; font-size: 14px"
>
  <div class="card-header">
    <div class="row">
      <div class="col-md-4">
        <label class="text-muted font-weight-normal m-0">Total qty</label>
        <div class="text-large">
          <strong>{{ cart.totalQty }}</strong>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <label class="text-muted font-weight-normal m-0">Total price</label>
        <div class="text-large">
          <strong>{{ cart.totalAmount | rupeeFormat }}</strong>
        </div>
      </div>
      <div *ngIf="selectedProductIds.length > 0" class="col-md-4 text-end">
        <button class="btn btn-class" (click)="buyNow()">Buy Now</button>
      </div>
    </div>
  </div>
  <div *ngFor="let product of cart?.products">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div
            class="col-md-3 d-flex justify-content-center align-items-center"
          >
            <input
              type="checkbox"
              [checked]="product.productId.stock > 0"
              (change)="updateSelectedProducts(product)"
              [disabled]="product.productId.stock === 0"
            />
          </div>
          <div class="col-md-9">
            <img
              [src]="
                product.productId.images.length > 0
                  ? product.productId.images[0].url
                  : 'assets/laptop.jpg'
              "
              class="d-block ui-w-40 ui-bordered"
              alt="product image"
              height="80%"
              width="80%"
            />
          </div>
        </div>
        <div class="col-md-8 my-3">
          <a
            [routerLink]="['/products', product.productId._id]"
            class="d-block text-dark"
            >{{ product.productId.title }}</a
          >
          <p class="my-1">
            {{ product.productId.price | rupeeFormat }}
          </p>
          <div class="row">
            <div *ngIf="product.productId.stock === 0">
              <h6 style="color: red">Out Of Stock</h6>
            </div>
            <div class="col-md-1">
              <label for="quantity">Quantity:</label>
            </div>
            <div class="col-md-1 mx-4">
              <input
                type="number"
                min="1"
                name="quantity"
                class="form-control custom-input text-center"
                [(ngModel)]="product.qty"
                (change)="updateCart(product.productId._id, product.qty)"
              />
            </div>
            <div class="col-md-8 d-flex justify-content-end">
              <button
                (click)="removeFromCart(product.productId._id)"
                class="custom-button"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                  />
                  <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- cart empty -->
<div class="card" *ngIf="cart.products.length === 0">
  <div class="text-center card-body">
    <img
      src="https://i.imgur.com/dCdflKN.png"
      class="img-fluid"
      alt="Empty cart"
    />
    <p class="lead mt-4">Your cart is empty.</p>
    <p>
      <a [routerLink]="['/products']" class="btn btn-class">Start shopping</a>
    </p>
  </div>
</div>
