.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-height: 1.25;
}

.align-sort {
  display: inline-block;
  margin-left: 1%;
  width: 75%;
}

.link {
  cursor: pointer;
}

.link:hover {
  color: #c45500;
}
