<div class="container mt-4">
  <div class="form-group" style="display: flex; justify-content: space-between">
    <div style="width: 20%">
      <label for="sortDropdown" class="mt-2"><b>Sort By:</b></label>
      <select
        id="sortDropdown"
        [ngModel]="selectedSortOption"
        (change)="check($event)"
        class="form-control align-sort"
      >
        <option *ngFor="let option of getOptions()" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <form
      class="d-flex"
      style="width: 40%"
      (ngSubmit)="this.getProducts({
    keyword: this.search,
  });"
    >
      <input
        class="form-control me-2"
        type="search"
        name="search"
        [(ngModel)]="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-primary" type="submit" [disabled]="!search">
        search
      </button>
      <button class="btn btn-danger" (click)="resetForm()" [disabled]="!search">
        reset
      </button>
    </form>
  </div>

  <div *ngFor="let product of products?.docs" class="mt-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img
              class="card-img-top link"
              src="https://picsum.photos/200"
              alt="Product Image"
              height="200"
              width="200"
              [routerLink]="['/products', product._id]"
            />
          </div>
          <div class="col-md-8">
            <h5
              class="card-title link"
              [routerLink]="['/products', product._id]"
            >
              {{ product.title }}
            </h5>
            <p class="card-text">
              {{ product.description }}
            </p>
            <h6 class="text-muted">Price: ${{ product.price }}</h6>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <ngb-pagination
      [collectionSize]="products.totalDocs"
      [page]="products.page"
      (pageChange)="this.getProducts({ page: $event })"
      [pageSize]="products.limit"
      aria-label="Default pagination"
      class="d-flex justify-content-center"
    ></ngb-pagination>
  </div>
</div>
