<div class="container my-5">
  <div class="row my-3 content">
    <h2 style="text-align: center">{{ !editMode ? "Add" : "Edit" }} Product</h2>
    <div
      [ngClass]="{
        'col-md-12': !editMode,
        'col-md-6': editMode
      }"
    >
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div [ngClass]="{ 'add-product': !editMode }">
          <!-- product name -->
          <div class="form-group mt-3">
            <label class="control-label" for="productName">Product Name</label>
            <div class="col-md-8">
              <input
                name="productName"
                placeholder="Product Name"
                class="form-control"
                type="text"
                minlength="3"
                maxlength="150"
                #title="ngModel"
                required
                [(ngModel)]="product.title"
              />
              <span
                class="help-block"
                style="color: red"
                *ngIf="!title.valid && title.touched"
              >
                Product title must be at least 3 characters long and not more
                than 150 characters long!
              </span>
            </div>
          </div>

          <!-- product descrpition-->
          <div class="form-group mt-3">
            <label class="control-label" for="productDescrption"
              >Description</label
            >
            <div class="col-md-8">
              <textarea
                name="productDescription"
                placeholder="Product Description"
                class="form-control"
                rows="4"
                #description="ngModel"
                cols="30"
                minlength="10"
                maxlength="300"
                ngModel
                required
                [(ngModel)]="product.description"
              ></textarea>
              <span
                class="help-block"
                style="color: red"
                *ngIf="!description.valid && description.touched"
                >Product description must be at least 10 characters long and not
                more than 300 characters long!</span
              >
            </div>
          </div>

          <!-- product price -->
          <div class="form-group mt-3">
            <label class="control-label" for="price">Price</label>
            <div class="col-md-8">
              <input
                type="text"
                placeholder="Product Price"
                name="productPrice"
                #price="ngModel"
                required
                class="form-control"
                [(ngModel)]="product.price"
              />
              <span
                class="help-block"
                style="color: red"
                *ngIf="!price.valid && price.touched"
                >Please enter a valid product price!</span
              >
            </div>
          </div>

          <!-- product stock -->
          <div class="form-group mt-3">
            <label class="control-label" for="price">Stock</label>
            <div class="col-md-8">
              <input
                type="number"
                placeholder="Number of Products Available"
                name="productStock"
                #stock="ngModel"
                required
                min="0"
                class="form-control"
                [(ngModel)]="product.stock"
              />
              <span
                class="help-block"
                style="color: red"
                *ngIf="!stock.valid && stock.touched"
                >Please enter a valid product stock!</span
              >
            </div>
          </div>
          <div class="mt-3">
            <!-- product specifications -->
            <div
              class="form-group"
              *ngFor="let spec of specifications; let i = index"
            >
              <div class="row">
                <div class="col-md-4">
                  <label class="control-label" for="specKey{{ i }}"
                    >Property</label
                  >
                  <input
                    *ngIf="spec['key'] !== undefined"
                    type="text"
                    placeholder="Property"
                    name="specKey{{ i }}"
                    class="form-control"
                    #stock="ngModel"
                    [(ngModel)]="spec['key']"
                  />
                </div>
                <div class="col-md-4">
                  <label class="control-label" for="specValue{{ i }}"
                    >Value</label
                  >
                  <input
                    *ngIf="spec['value'] !== undefined"
                    type="text"
                    placeholder="Value"
                    name="specValue{{ i }}"
                    class="form-control"
                    [(ngModel)]="spec['value']"
                  />
                </div>
                <div class="col-md-4">
                  <label for=""></label>
                  <br />
                  <button
                    class="btn btn-class"
                    (click)="deleteSpecification(i)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>

            <!-- Add Specification Button -->
            <button
              class="btn btn-class mt-3"
              type="button"
              (click)="addSpecification()"
            >
              Add Specification
            </button>
          </div>
        </div>
        <div class="form-group text-center">
          <button
            class="btn btn-class mt-3 text-center"
            type="submit"
            [disabled]="!f.valid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="editMode" class="col-md-6">
      <app-product-images
        [imagesArray]="product.images || []"
        [productId]="productId"
      ></app-product-images>
    </div>
  </div>
</div>
