<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
        />
        <span class="text-black-100">{{ user?.role }}</span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Public profile</h4>
        </div>
        <table class="table my-2" *ngIf="user">
          <tbody>
            <tr>
              <th scope="row">First Name</th>
              <td>{{ user.firstName }}</td>
            </tr>
            <tr>
              <th scope="row">Lasr Name</th>
              <td>{{ user.lastName }}</td>
            </tr>
            <tr>
              <th scope="row">Username</th>
              <td>{{ user.username }}</td>
            </tr>
            <tr>
              <th scope="row">Email Id</th>
              <td>{{ user.email }}</td>
            </tr>

            <tr *ngIf="user?.role === 'seller'">
              <th scope="row">Company Name</th>
              <td>{{ user.companyName }}</td>
            </tr>
          </tbody>
        </table>
        <button
          *ngIf="(user?.role === 'customer' && !user?.companyName) || isAdmin"
          class="btn btn-success mt-3"
          [ngClass]="{
            'btn-danger': isAdmin,
            'btn-success': !isAdmin
          }"
          type="button"
          (click)="toggleAdmin(user?._id || '')"
        >
          {{ isAdmin ? "Unmark" : "Mark" }} as Admin
        </button>
      </div>
    </div>
  </div>
</div>
