<footer class="footer">
  <div class="container">
    <div class="row text-white">
      <div class="col-md-6">
        <div class="col-md-11">
          <h4>About Us</h4>
          <p class="text-justify">
            Welcome to GadgetGrove, your premier destination for all things
            laptops. Dive into a world of cutting-edge technology and sleek
            designs. Here we curate a collection of top-notch laptops, ensuring
            you stay ahead in style and performance. Shop with confidence for
            your tech needs, where every click brings you closer to a smarter,
            more connected experience.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <h4>Contact Us</h4>
        <p>Email: contact&#64;gadgetgrove.com</p>
        <p>Phone: +91 9865594949</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>&copy; 2023 GadgetGrove. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
