<div class="row">
  <div class="col-xl-6 col-lg-6">
    <div class="card l-bg-cherry">
      <div class="card-statistic-3 p-4">
        <div class="card-icon card-icon-large">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="mb-4">
          <h5 class="card-title mb-0">Total Orders</h5>
        </div>
        <div class="row align-items-center mb-2 d-flex">
          <div class="col-8">
            <h2 class="d-flex align-items-center mb-0">
              {{ metricData.totalOrders.toLocaleString("en-IN") }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6">
    <div class="card l-bg-blue-dark">
      <div class="card-statistic-3 p-4">
        <div class="card-icon card-icon-large">
          <i class="fas fa-users"></i>
        </div>
        <div class="mb-4">
          <h5 class="card-title mb-0">Avg Rating</h5>
        </div>
        <div class="row align-items-center mb-2 d-flex">
          <div class="col-8">
            <h2 class="d-flex align-items-center mb-0">
              {{ metricData.avgRating }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6">
    <div class="card l-bg-green-dark">
      <div class="card-statistic-3 p-4">
        <div class="card-icon card-icon-large">
          <i class="fas fa-ticket-alt"></i>
        </div>
        <div class="mb-4">
          <h5 class="card-title mb-0">Total Products Sold</h5>
        </div>
        <div class="row align-items-center mb-2 d-flex">
          <div class="col-8">
            <h2 class="d-flex align-items-center mb-0">
              {{ metricData.totalProductsSold.toLocaleString("en-IN") }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6">
    <div class="card l-bg-orange-dark">
      <div class="card-statistic-3 p-4">
        <div class="card-icon card-icon-large">
          <i class="fas fa-dollar-sign"></i>
        </div>
        <div class="mb-4">
          <h5 class="card-title mb-0">Total Sales</h5>
        </div>
        <div class="row align-items-center mb-2 d-flex">
          <div class="col-8">
            <h2 class="d-flex align-items-center mb-0">
              {{ metricData.totalSales | rupeeFormat }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
